body {
  margin: 0;
  font-family: Arial;
  /* background: rgba(0, 0, 0, 0.85); */
  background: #1d1d1d;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
  border-bottom: 3px solid #ff6d00;
}
.header .logo {
  font-size: 26px;
  font-weight: bold;
}

.header .logo span {
  color: #ff6d00;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

.navbar .logo {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

/* ---------- LINKS ---------- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
/* .imgFlotante { */
/* position: absolute; */
/* display: flex; */
/* right: 0; */
/* left: unset; */
/* top: -5px; */
/* } */
.imgFlotante #imagen-flotante {
  width: 16px;
  margin-right: 5px;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
#modal {
  /* position: fixed; */
  /* inset: 0; */
  background: rgba(0, 0, 0, 0.92);
  color: #fff;
  /* overflow-y: hidden; */
  padding: 40px;
}
/* .imagen2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
  } */
/* .imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: zoom-in;
  } */
h2 {
  margin-top: 0;
  color: #ff6d00;
  text-align: center;
}

.imagen2 {
  /* display: flex; */
  /* justify-content: center; */
  width: auto;
  /* height: 250px; */
  margin: 5px 0;
}
.imagen2 img {
  width: 300px;
  height: 200px;
  max-width: 100%;
  cursor: zoom-in;
}
.TextoImagen2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 5px;
}
.btn-ubicacion,
.imgFlotante {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ff6d00;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  width: 150px;
  margin: 5px;
}
.imgFlotante p {
  margin: 0;
}
.imgFlotante a {
  text-decoration: none;
  color: #fff;
}
.btn-ubicacion img {
  width: 16px;
  margin-right: 5px;
}
.btn-ubicacion p {
  margin: 0;
}

#modal .imagen2 .img-zoom2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 10px;
  transform: scale(2) !important; /* zoom */
  transform-origin: center center; /* importante */
  height: 40vh;
  z-index: 9999 !important;
  cursor: zoom-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
  border-top: 3px solid #ff6d00;
}
.ImgSocial {
  display: flex;
  justify-content: center;
}

.ImgSocial img {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 5px;
  width: 20px;
  height: 20px;
}

/* Menú contextual personalizado */
.custom-menu {
  /* position: fixed; */
  position: absolute;
  background: #111;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  cursor: pointer;
  border: 1px solid #ff6d00;
}
.custom-menu:hover {
  background: #222;
}

/* @media (max-width: 854px) { */
/* @media only screen and (min-width: 360px) and (max-width: 854px) { */
/* @media only screen and (min-width: 360px) and (max-width: 1440px) and (orientation: portrait) { */
/* @media only screen and (min-width: 360px) and (max-width: 501px) { */
@media screen and (width < 1440px) {
  .nav-links li a,
  .header .logo {
    font-size: 2.5rem;
  }
  h2,
  h3 {
    font-size: 2.5em;
  }
  .info {
    font-size: 2.5em;
  }
  .imgFlotante {
    position: relative;
    width: 45%;
    height: 50px;
    margin: 0;
    float: right;
  }
  .imgFlotante a {
    text-decoration: none;
    color: #fff;
  }
  .btn-ubicacion {
    width: 45%;
    height: 50px;
    position: relative;
    float: left;
    margin: 0;
    /* font-size: unset; */
    box-shadow: 1px 1px 3px #1d1d1d, -1px -1px 3px #1d1d1d;
    /* padding: 5px; */
    /* position: absolute; */
    /* left: 5px; */
  }
  .imgFlotante #imagen-flotante,
  .btn-ubicacion img {
    width: 30px;
  }
  .imgFlotante p,
  .btn-ubicacion p {
    font-size: 2rem;
  }
  .imagen2 {
    width: auto;
    height: unset;
    flex: auto;
  }
  .imagen2 img {
    width: 100%;
    height: 400px;
  }
  .img-zoom2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.2) !important; /* zoom */
    transform-origin: center center; /* importante */
    width: 75%;
    z-index: 9999 !important;
    cursor: zoom-out;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }
  .active2 {
    top: -350px;
    bottom: 0;
  }
  .TextoImagen2 {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  }
  .footer {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-top: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
}
