/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
  border-bottom: 3px solid #ff6d00;
}

.header .logo {
  font-size: 26px;
  font-weight: bold;
}

.header .logo span {
  color: #ff6d00;
}

.navbar a {
  color: white;
  /* margin-left: 20px; */
  text-decoration: none;
  font-weight: bold;
}
.navbar {
  /* width: 100%; */
  background: #222;
  /* padding: 10px 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

.navbar .logo {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

/* ---------- LINKS ---------- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* ---------- HAMBURGER BOTÓN ---------- */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
}

.hero-img {
  position: relative;
  border: 5px solid #ff6d00;
  border-radius: 10px;
}

.hero-img img {
  width: 100%;
  max-width: 650px;
  display: block;
  border-radius: 10px;
}

.badge {
  position: absolute;
  bottom: -15px;
  right: -15px;
  background: #ff6d00;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
}

/* Lista derecha */
.hero-list {
  background: #2c2c2c;
  padding: 20px;
  /* width: 320px; */
  width: 90%;
  border-radius: 10px;
  border: 2px solid #444;
  margin: auto;
  margin-top: 5px;
  border-bottom: 3px solid #ff6d00;
  border-top: 3px solid #ff6d00;
}

.hero-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.hero-list .item img {
  width: 400px;
  /* height: 300px; */
  border-radius: 5px;
  margin-right: 12px;
}

.hero-list .item h4 {
  margin: 0;
  color: #ff6d00;
  text-align: center;
  font-size: 20px;
}

/* Sección mensaje */
.mensaje {
  width: 90%;
  /* margin: 40px; */
  padding: 20px;
  margin: auto;
  text-align: center;
  border: 2px solid #444;
  margin-top: 5px;
  border-radius: 10px;
  border-bottom: 3px solid #ff6d00;
}

.mensaje h2 {
  color: #ff6d00;
}

/* Tarjeta destacada */
.destacados {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  padding: 20px;
  border: 2px solid #444;
  margin-top: 5px;
  border-radius: 10px;
  border-top: 3px solid #ff6d00;
}

.card {
  background: #2e2e2e;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  border-left: 4px solid #ff6d00;
}

.card h3 {
  color: #ff6d00;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
  border-top: 3px solid #ff6d00;
}

.btn-ubicacion {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  /* margin-top: 8px; */
  /* padding: 6px 10px; */
  padding: 10px;
  background: #ff6d00;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  margin: auto;
}

.btn-ubicacion:hover {
  background: #ff8f30;
  transform: scale(1.05);
  font-weight: bold;
}
.hero-list .btn-ubicacion img {
  width: 16px;
  margin-right: 5px;
}
.btn-ubicacion p {
  margin: 0;
}

.imagen {
  /* flex: 1; */
  margin-right: 5px;
  width: 30%;
}

/* Imagen normal con cursor zoom-in */
.imagen img {
  cursor: zoom-in;
  transition: transform 0.25s ease-in-out;
  z-index: 1;
  max-width: 100%;
}

/* Modo zoom (imagen ampliada) */
.img-zoom {
  /* position: fixed; */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%) scale(1.8); */
  /* transform: scale(2) !important; */
  transform: scale(1.2) !important; /* zoom */
  transform-origin: center center; /* importante */
  /* transform: scale(2) translateX(30%); */
  /* max-width: 90vw; */
  max-width: 80%;
  /* max-height: 90vh; */
  max-height: 80%;
  /* z-index: 9999; */
  z-index: 9999 !important;
  cursor: zoom-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.content {
  /* flex: 2; */
  width: 70%;
  display: grid;
}

.content ul {
  padding-inline-start: 20px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  border: 1px solid #444;
  border-radius: 10px;
}
.content li {
  margin: 5px;
}
.content li p {
  text-transform: capitalize;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    width: 90%;
    margin: auto;
    padding: 10px;
    /* border: 2px solid #444; */
    border-bottom: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .header .logo {
    font-size: 14px;
    font-weight: bold;
  }
  .navbar {
    width: auto;
    padding: 0;
    border-radius: 5px;
  }
  /* .navbar a {
    font-size: 12px;
    margin: 0;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #ff6d00, -1px -1px 3px #ff6d00;
    margin-right: 1px;
  } */
  .nav-links li {
    border-bottom: 1px solid #444;
    width: 100%;
  }
  .nav-links li:last-child {
    border-bottom: none;
  }
  .nav-links li a {
    font-size: 12px;
    margin: 0;
    /* border-right: 1px solid #444; */
    /* border-left: 1px solid #444; */
    padding: 5px;
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 3px #ff6d00, -1px -1px 3px #ff6d00; */
    /* margin-right: 1px; */
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-list {
    /* width: 80%; */
    width: 90%;
    /* padding: 10px 20px; */
    padding: 10px;
    margin-top: 5px;
  }
  .hero-list .item h4 {
    font-size: 14px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .hero-list .item img {
    width: 300px;
  }
  .hero-list .item .btn-ubicacion img {
    width: 16px;
  }
  .img-zoom {
    transform: scale(1) !important;
  }
  .imagen {
    width: 25%;
    flex: auto;
    margin: 0;
  }
  .content {
    width: 75%;
    flex: auto;
  }
  .content p {
    font-size: 12px;
  }
  .content ul {
    /* padding-inline-start: 12px; */
    /* margin-block-start: 5px; */
    padding: 0 15px;
    /* padding-inline-start: 5px; */
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 5px;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .content li {
    font-size: 12px;
    padding: 0;
    margin: 5px 3px;
  }
  .btn-ubicacion {
    font-size: 10px;
    /* margin: 0; */
    /* box-shadow: 1px 1px 3px #a34600, -1px -1px 3px #a34600; */
    box-shadow: 1px 1px 3px #1d1d1d, -1px -1px 3px #1d1d1d;
    padding: 5px;
  }
  .btn-ubicacion p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    /* text-shadow: 0 2px 6px rgb(171 168 168 / 60%); */
    /* text-shadow: 1px 1px 3px #444, -1px -1px 3px #444; */
    text-shadow: 1px 1px 3px rgb(68 68 68 / 84%),
      -1px -1px 3px rgb(68 68 68 / 84%);
  }
  .mensaje {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid #444;
    border-bottom: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .mensaje h2 {
    font-size: 14px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .mensaje p {
    font-size: 12px;
  }
  .destacados {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 10px;
    margin-top: 5px;
  }
  .card h3 {
    font-size: 14px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .card ul li {
    font-size: 12px;
  }
  .footer {
    width: 90%;
    margin: auto;
    padding: 10px;
    /* border: 2px solid #444; */
    border-top: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .hamburger {
    display: flex;
    padding: 3px;
  }
  .hamburger span {
    width: 18px;
  }

  .nav-links {
    position: absolute;
    /* top: 60px; */
    top: 100%;
    right: 10px;
    /* background: #222; */
    background: #ff6d00;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    /* padding: 15px 0; */
    /* gap: 15px; */
    gap: 0;
    display: none;
    border-radius: 5px;
    /* padding: 5px; */
    padding: 0;
  }

  .nav-links.active {
    display: flex;
    text-align: right;
  }

  /* Animación del menú */
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
