/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
  border-bottom: 3px solid #ff6d00;
}

.header .logo {
  font-size: 26px;
  font-weight: bold;
}

.header .logo span {
  color: #ff6d00;
}
.imgLogo {
  position: relative;
}
.imgLogo img {
  position: absolute;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

.navbar .logo {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

/* ---------- LINKS ---------- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* ---------- HAMBURGER BOTÓN ---------- */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
}

.hero-img {
  position: relative;
  border: 5px solid #ff6d00;
  border-radius: 10px;
}

.hero-img img {
  width: 100%;
  max-width: 650px;
  display: block;
  border-radius: 10px;
}

.badge {
  position: absolute;
  bottom: -15px;
  right: -15px;
  background: #ff6d00;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
}

/* Lista derecha */
.hero-list {
  background: #2c2c2c;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid #444;
  margin: auto;
  margin-top: 5px;
  border-bottom: 3px solid #ff6d00;
  border-top: 3px solid #ff6d00;
}

.hero-list .item {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.hero-list .item img {
  border-radius: 5px;
  margin-right: 12px;
}

.hero-list .item h4 a {
  margin: 0;
  color: #ff6d00;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

/* Sección mensaje */
.mensaje {
  width: 90%;
  padding: 20px;
  margin: auto;
  text-align: center;
  border: 2px solid #444;
  margin-top: 5px;
  border-radius: 10px;
  border-bottom: 3px solid #ff6d00;
}

.mensaje h2 {
  color: #ff6d00;
}

/* Tarjeta destacada */
.destacados {
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 2px solid #444;
  margin-top: 5px;
  border-radius: 10px;
  border-top: 3px solid #ff6d00;
}
.tituloInformacion {
  text-align: center;
  background: #2e2e2e;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
}
.tituloInformacion h1 {
  margin: 0;
  color: #ff6d00;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2e2e2e;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  border-left: 4px solid #ff6d00;
}

.card h3 {
  color: #ff6d00;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.card ul {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 20px;
  padding-block-end: 20px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  border: 1px solid #444;
  border-radius: 10px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
  border-top: 3px solid #ff6d00;
}

.btn-ubicacion {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background: #ff6d00;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
}

.btn-ubicacion:hover {
  background: #ff8f30;
  transform: scale(1.05);
  font-weight: bold;
}
.hero-list .btn-ubicacion img {
  width: 16px;
  margin-right: 5px;
}
.btn-ubicacion p {
  margin: 0;
}

.imagen {
  display: flex;
  justify-content: center;
  width: auto;
  height: 250px;
  margin: 5px 0;
}

/* Imagen normal con cursor zoom-in */
.imagen img {
  width: 300px;
  height: 250px;
  cursor: zoom-in;
  transition: transform 0.25s ease-in-out;
  z-index: 1;
  max-width: 100%;
}
.TextoImagen {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Modo zoom (imagen ampliada) */
.hero-list .imagen .img-zoom {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 10px;
  transform: scale(2) !important; /* zoom */
  transform-origin: center center; /* importante */
  height: 40vh;
  z-index: 9999 !important;
  cursor: zoom-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
.titulo-zoom {
  display: none;
}
.active {
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  color: #ff6d00;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  text-transform: capitalize;
}
/* Imagen ampliada sin afectar el layout */
.img-zoom2 {
  position: fixed !important;
  top: 50%;
  left: 50%;
  z-index: 9999;
  max-width: 90vw;
  max-height: 90vh;
  transform: translate(-50%, -50%) scale(1);
  cursor: zoom-out !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.titulo {
  width: 70%;
}
.tituloImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  position: relative;
}
.tituloImg h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.imgFlotante {
  position: absolute;
  display: flex;
  z-index: 999;
  top: -10px;
  left: -50px;
}
.imgFlotante2 {
  position: absolute;
  display: flex;
  z-index: 9999;
}
.imgFlotante:hover .texto-flotante {
  display: block;
}
.imgFlotante #imagen-flotante {
  width: 60px;
  margin: 0;
}
.imgFlotante2 #imagen-flotante2 {
  width: 60px;
  margin: 0;
}
.texto-flotante {
  display: none;
  color: #ff6d00;
}
.content {
  width: 70%;
  display: grid;
  position: relative;
}

.content ul {
  padding-inline-start: 20px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  border: 1px solid #444;
  border-radius: 10px;
}
.content li {
  margin: 5px;
}
.content li p {
  text-transform: capitalize;
}

.ImgSocial {
  display: flex;
  justify-content: center;
}

.ImgSocial img {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 5px;
  width: 20px;
  height: 20px;
}

/* Responsive */
@media (max-width: 854px) {
  .imgFlotante:hover .texto-flotante {
    display: none;
  }
  .header {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-bottom: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .header .logo {
    font-size: 14px;
    font-weight: bold;
  }
  .navbar {
    width: auto;
    padding: 0;
    border-radius: 5px;
  }
  .nav-links li {
    border-bottom: 1px solid #444;
    width: 100%;
  }
  .nav-links li:last-child {
    border-bottom: none;
  }
  .nav-links li a {
    font-size: 12px;
    margin: 0;
    padding: 5px;
  }
  .hero-list {
    flex-direction: column;
    align-items: center;
  }

  .hero-list {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
  }
  .hero-list .item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .hero-list .item h4 a {
    font-size: 20px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .hero-list .item img {
    width: 300px;
  }
  .hero-list .item .btn-ubicacion img {
    width: 16px;
    margin: 0;
  }
  .tituloImg {
    width: auto;
  }
  .imgFlotante {
    right: 0;
    left: unset;
    top: -5px;
  }
  .imgFlotante2 {
    right: 0;
    left: unset;
    top: -5px;
  }
  .imgFlotante #imagen-flotante {
    width: 30px;
  }
  .imgFlotante2 #imagen-flotante2 {
    width: 30px;
  }
  .img-zoom {
    transform: scale(1) !important;
  }
  .imagen {
    width: auto;
    flex: auto;
  }

  .hero-list .imagen .img-zoom {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.2) !important; /* zoom */
    transform-origin: center center; /* importante */
    width: 75%;
    z-index: 9999 !important;
    cursor: zoom-out;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }
  .active {
    top: -350px;
    bottom: 0;
  }
  .content {
    width: auto;
    flex: auto;
    position: unset;
  }
  .content p {
    font-size: 12px;
  }
  .content ul {
    padding: 0 15px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 5px;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .content li {
    font-size: 12px;
    padding: 0;
    margin: 5px 3px;
  }
  .titulo {
    margin-bottom: 5px;
    width: 80%;
  }
  .btn-ubicacion {
    font-size: 10px;
    box-shadow: 1px 1px 3px #1d1d1d, -1px -1px 3px #1d1d1d;
    padding: 5px;
    position: absolute;
    left: 5px;
  }
  .btn-ubicacion p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-shadow: 1px 1px 3px rgb(68 68 68 / 84%),
      -1px -1px 3px rgb(68 68 68 / 84%);
  }
  .textoUbicacion {
    display: none;
  }
  .mensaje {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid #444;
    border-bottom: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .mensaje h2 {
    font-size: 14px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .mensaje p {
    font-size: 12px;
  }
  .destacados {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 10px;
    margin-top: 5px;
  }
  .card h3 {
    font-size: 14px;
    text-shadow: 0 2px 6px rgb(171 168 168 / 60%);
  }
  .card ul li {
    font-size: 12px;
  }
  .footer {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-top: 3px solid #ff6d00;
    border-radius: 10px;
    margin-top: 5px;
  }
  .hamburger {
    display: flex;
    padding: 3px;
  }
  .hamburger span {
    width: 18px;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 10px;
    background: #ff6d00;
    flex-direction: column;
    align-items: center;
    gap: 0;
    display: none;
    border-radius: 5px;
    padding: 0;
  }

  .nav-links.active {
    display: flex;
    text-align: right;
  }

  /* Animación del menú */
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
